@media (prefers-color-scheme: dark) {
  @import "dark";
}

@media (prefers-color-scheme: light) {
  @import "light";
}

.app {
  height: 100vh;
  overflow: hidden;
}

#drawer > :first-child {
 padding-top: 64px;
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-content-under-nav {
  height: calc(100vh - 64px );
  width: 100vw;

  div.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded div.container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
  }
}


img.icon{
  border-radius: 50%;
  width: 24px;
}

// Overwiting the original color
.MuiAppBar-colorPrimary {
  color: white !important;
}